@media (min-width: 769px) {
    .CartWrapper {
        order: 2;
    }
}

.CartWrapper {
    position: relative;
}

.cartCount {
    margin: 2px 0px 0px 2px;
    float: right;
    background-color: #F8475F;
    color: white;
    border-radius: 50%;
    font-size: 11px;
    padding: 5px;
}