.CarouselContainer {
    position: relative;
    height: 300px;
    width: 100%;
}

@media(min-width:769px) {
    .CarouselContainer {
        height: 400px;
        width: 100%;
        background-color: black;
    }
}


.ButtonContainer {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    z-index: 9;
}

.ButtonContainer .CarouselBtn {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 10px;
    background-color: #BDBDBD;
    border: none;
    cursor: pointer;
}

.ButtonContainer .CarouselBtn.ActiveButton {
    background-color: #F8475F;
}