.imageContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: left .3s, right .3s;
}

.imageContainer.leftContainer {
    left: -100%;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.imageContainer.rightContainer {
    right: -100%;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%
}

.activeImage.slideToRight {
    right: 0;
}

.activeImage.slideToLeft {
    left: 0;
}

.HeroTitle {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0%, -50%);
    color: white;
}

.HeroTitle h1 {
    font: normal normal 900 34px Nunito;
}

.HeroTitle span {
    font: normal normal bold 30px Nunito;
}

@media (min-width: 769px) {

    .CustomShapeDivider {
        height: 100%;
        width: 100%;
        position: absolute;
        background-image:
            url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 500 150' preserveAspectRatio='none' style='height: 100%25; width: 100%25;'%3e%3cpath d='M507.09,-24.16 C399.87,96.22 491.85,83.39 476.62,163.33 L0.00,150.00 L0.00,0.00 Z' style='stroke: none; fill: %23000000'%3e%3c/path%3e%3c/svg%3e");
        left: 40%;
    }

    .HeroTitle {
        width: 100%;
        left: 70%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .HeroTitleWrapper {
        height: 100%;
        position: relative;
        background-color: #000000;
        width: 40%;
    }

    .image {
        width: 50%;
        float: right;
    }
}