.NewsletterWrapper {
    background-color: #F2F2F2;
    padding: 20px 20px;
}

.NewsletterTitle {
    font-weight: 900;
    color: #434343
}

.formText {
    border: none;
    margin: 10px 0px;
    display: block;
    width: 100%;
    padding: 10px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 5px;
}

.formSubmit {
    background: black;
    color: white;
    border: none;
    width: 100%;
    height: 60px;
    border-radius: 5px;
}

@media (min-width: 769px) {
    .NewsletterWrapper {
        text-align: center;
    }

    .formText {
        width: 25%;
        display: initial;
        margin: 10px 5px;
    }

    .formSubmit {
        width: 150px;
        height: 60px;
    }

}