.searchBarWrapper {
    width: 100%;
}

.searchBarForm {
    position: relative;
}

.searchBarInput {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1.5px solid;
}

.searchBarButton {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
}

@media (min-width: 769px) {
    .searchBarWrapper {
        order: 1;
        flex-grow: 0;
        width: 50%;
    }
}